<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>830515649015-0g7tj2anumq5ktb5lpgl2gipvlfuq9tr.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.830515649015-0g7tj2anumq5ktb5lpgl2gipvlfuq9tr</string>
	<key>API_KEY</key>
	<string>AIzaSyAD9BT9eHBXIQlPz7RzSAGS2TfQ5K3ySLU</string>
	<key>GCM_SENDER_ID</key>
	<string>830515649015</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.cgberlin.pilights</string>
	<key>PROJECT_ID</key>
	<string>pilights-2bfbc</string>
	<key>STORAGE_BUCKET</key>
	<string>pilights-2bfbc.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:830515649015:ios:46b9794b395a6168</string>
	<key>DATABASE_URL</key>
	<string>https://pilights-2bfbc.firebaseio.com</string>
</dict>
</plist>